@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

* {
  @apply snap-y snap-mandatory m-0 p-0;
}

::-webkit-scrollbar {
  @apply hidden;
}

section {
  @apply snap-start h-screen max-h-screen p-12 shadow-sm relative;
}

input, textarea {
  @apply mb-3 block w-full appearance-none rounded border px-4 py-3 leading-tight text-gray-700 focus:outline focus:ring-2
}

#title {
  @apply mb-6 text-center text-4xl font-bold md:text-6xl text-white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

.perspective-1000 {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

